body { padding: 0; margin: 0; font-family: Arial; }
ul.nav { padding: 0; margin: 0; background-color: #003; font-family: Arial; font-size: 80%; }
ul.nav li { display: block; float: left; background-color: #66a; margin: 0 4px 0 0;  padding: 4px; }
ul.nav li.selected { background-color: #6a6; }
ul.nav li a { display: block; width: 100px; color: #fff; text-decoration: none; text-align: center; }

.actions { float: right; }
.actions form { float: right; }

#content { clear: both; }

.imgContainer { text-align: center; }
img.fullSize { max-width: 100%; }

h1 { font-family: Arial; text-align: center; }
h1 .time, h1 .date { white-space: nowrap; }

a.day { text-decoration: none; color: #a6a; padding: 1em; }

div.thumbnails { clear: both; text-align: center; }
div.thumbnailBox { display: inline-block; width: 200px; }
img.thumbnail{ max-width: 190px; }

.thumbnail span.time, .thumbnail img.icon { vertical-align: middle; }
.thumbnail span.time { font-size: 130%; padding-right: 1em; }

img.grey { filter: grayscale(100%); }
